<div class="AllPage">
    <h2 id="fevoritesTitle">Favorites</h2>
    <div class="mainView"> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">City name</th>
            <th scope="col">Current Weather</th>
            <th scope="col">Show Full 5 day forecast</th>
            <th scope="col">Remove from Favorites</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let favorite of localStore.favorites; index as i" (attr.data-index)="i">
            <th scope="row">{{favorite.Key}}</th>
            <td>{{favorite.LocalizedName}}</td>
            <td *ngIf ="favoriteCurrentWeather[i] as favoriteCurrentWeather">
                {{favoriteCurrentWeather.WeatherText}} , {{weatherService.convertTemperature(favoriteCurrentWeather.Temperature.Metric.Value,true)}}
               </td>
            <td class="tableBtns"><button (click)="viewcityweather(favorite)" >View</button></td>   
            <td class="tableBtns">
              <svg (click)="removeFavorite(favorite,i)"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </td>
          </tr>     
        </tbody>
      </table>
    </div>
</div>

